<div class="jumbotron" *ngIf="!distrito">
    <h1> Cargando...</h1>
  </div>
  
  <div *ngIf="distrito && distrito.length === 0" class="row">

    <h1>No hay distritos Municipales...</h1>
    <button mat-raised-button color="primary" [routerLink]="['/home']">Regresar</button>
    
  </div>

  <div *ngIf="distrito && distrito.length !== 0" class="row">

    <button mat-raised-button color="primary" [routerLink]="['/home']">Regresar</button>
    
    <table mat-table [dataSource]="distrito" class="mat-elevation-z8">
          
      <ng-container matColumnDef="Distritos">
        <th mat-header-cell *matHeaderCellDef> Distritos </th>
        <td mat-cell *matCellDef="let distrito"> {{distrito.nombre}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
