<div *ngIf="!provincias">
  <h1>Cargando...</h1>
</div>

<div *ngIf="provincias" class="row">

  <table mat-table [dataSource]="provincias" class="mat-elevation-z8">

    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let provincia"> {{provincia.nombre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Municipios">
      <th mat-header-cell *matHeaderCellDef> Municipios </th>
      <td mat-cell *matCellDef="let provincia">
        <button mat-raised-button color="primary" [routerLink]="['/provincias/municipios', provincia.codigo]">Ver
          Municipios</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Distritos Municipales">
      <th mat-header-cell *matHeaderCellDef> Distritos Municipales </th>
      <td mat-cell *matCellDef="let provincia"> 
        
        <button mat-raised-button color="primary" [routerLink]="['/provincias/distritos_municipales', provincia.codigo]">Ver
          Distritos Municipales</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>

</div>


  